.SkillImageComponent {
    position: relative;
}

.SkillImageComponentSpan {
    color: antiquewhite;
    font-size: 15px;
    text-align: center;
    width: 100%;
    display: none;
    position: absolute;
    font-weight: bolder;
}

.SkillImageComponentImg {
    cursor: pointer;
}

.SkillImageComponentSpan__Active {
    display: block;
    /* top: -40%; */
    color: green;
    animation: spanActive both .5s linear;
    transition: 5s all;
}
.SkillImageComponentImg__Active{
    animation: imgActive both .5s linear;
}

@keyframes spanActive{
    0%{
        top: 0%;
        opacity: 0;
    }
    50%{
        top: -20%;
        opacity: 0;
    }
    100%{
        top: -40%;
        opacity: 1;
    }
}
@keyframes imgActive{
    0%{
        transform: rotate(0deg);
    }
    20%{
        transform: rotate(10deg);
    }
    80%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(0deg);
    }
}