li
{
    list-style: none;
}

.HeaderComponent-class {
    background-color: rgba(1, 3, 24, 0.9);
    color: #FFFFFF;
    font-size: 20;
    font-weight: bold;
    position: fixed;
    
    height: 50px;
    width: 100%;
    z-index: 3;
}

.HeaderComponent-class>nav>div.HeaderComponent-class-Logo-Switch{
    display: flex;
    align-items: center;
    gap: 10px;
}
.HeaderComponent-class>nav>div.HeaderComponent-class-Logo-Switch>img {
    height: 50px;
}




.HeaderComponent-class .HeaderComponent-class-Logo-Switch>label{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}
.HeaderComponent-class .HeaderComponent-class-Logo-Switch>label>input{
    opacity: 0;
    width: 0;
    height: 0;
}
.HeaderComponent-class .HeaderComponent-class-Logo-Switch>label>span{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #071194;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 40px;
    text-align: center;
    padding-top: 2px;
}
.HeaderComponent-class .HeaderComponent-class-Logo-Switch>label>span::before{
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input.HeaderComponent-class-Logo-Switch-input:checked + span.HeaderComponent-class-Logo-Switch-span{
    background-color: #7c6708;
}
input.HeaderComponent-class-Logo-Switch-input:checked + span.HeaderComponent-class-Logo-Switch-span::before{
    transform: translateX(27px);
}



.HeaderComponent-class>nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    padding-left: 12px;
    padding-right: 12px;
}
.HeaderComponent-class>nav>* {
    display: inline-block;
}
.HeaderComponent-class>nav>div.HeaderComponent-class-sections
{
    height: 90%;
    width: auto;
    display: flex;
    align-items: center;
}
.HeaderComponent-class>nav>div.HeaderComponent-class-sections>div{
    display: flex;
    width: auto;
    gap: 12px;
}
.HeaderComponent-class>nav>div.HeaderComponent-class-sections>div>*
{
    height: 100%;
    display: grid;
    text-align: center;
    align-content: center;
    
    padding-left: 12px;
    padding-right: 12px;
}
.HeaderComponent-class div.HeaderComponent-class-sections>svg{
    display: none;
    cursor: pointer;
    width: 100%;
}
.HeaderComponent-class div.HeaderComponent-class-sections>svg:hover{
    animation: imgActive both .3s linear;
}
@keyframes listHeaderAnimation{
    0%{
        transform: rotate(0deg);
    }
    20%{
        transform: rotate(2deg);
    }
    80%{
        transform: rotate(-2deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.HeaderComponent-class>nav>div.HeaderComponent-class-sections>div>a
{
    cursor: pointer;
}
.HeaderComponent-class>nav>div.HeaderComponent-class-sections>div>a:hover
{
    text-shadow: 0 0 6px #FFFFFF;
}



/* 810px */
@media only screen and (max-width: 810px) {
    .HeaderComponent-class div.HeaderComponent-class-sections>svg{
        display: block;
    }
    .HeaderComponent-class div.HeaderComponent-class-sections>div {
        background-color: rgba(12, 12, 12, 0.884);
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 0px;
        left: 0px;
        bottom: 20px;
        height: fit-content;
        padding: 15px 5px;
        border-radius: 5px;
    }
    .HeaderComponent-class div.HeaderComponent-class-sections>div>a {
        text-align: center;
        justify-content: center;
        padding: 5px 0px;
    }
    .HeaderComponent-class div.HeaderComponent-class-sections>div.HeaderComponent-class-sectionsDiv__Noactive{
        display: none;
    }
    .HeaderComponent-class div.HeaderComponent-class-sections>div>a {
        display: flex;
    }
    .HeaderComponent-class div.HeaderComponent-class-sections>div>span{
        display: none;
    }
}