/* Skills */
section.skills {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}

section.skills>p {
    margin-top: 55px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
    color: aliceblue;
}

section.skills>div {
    margin: 0 50px;
}

section.skills>div>.tabs {
    background-color: #38334A;
    display: flex;
    /* gap: 12px; */
    padding: 0px 0px;
    border-radius: 6px 6px 0 0;
    /* margin-left: 10px; */
    height: 30px;

    overflow-x: auto;
    overflow-y: hidden;

    /* font-size: 17px; */
    font-size: clamp(.875rem, 2vw, 1.0625rem);
    color: rgba(142, 254, 0, 0.83);
}
section.skills>div>.tabs::-webkit-scrollbar{
    height: 5px;
}
section.skills>div>.tabs::-webkit-scrollbar-track{
    position: absolute;
    bottom: 12px;
    border-radius: 20px;
    background-color: #a19fa8;
}
section.skills>div>.tabs::-webkit-scrollbar-thumb{
    border-radius: 20px;
    border: 3px solid rgb(255, 166, 0);
}

section.skills>div>.tabs>a {
    /* background-color: #38334A; */
    height: 80%;
    padding: 2px 15px;
    border-radius: 0px 0px 6px 6px;
    cursor: pointer;
    min-width: fit-content;
    font-weight: 500;
}
section.skills>div>.tabs>span {
    margin: 0 4px;
}

section.skills>div>.tabs>a:hover {
    background-color: rgba(106, 112, 161, .8);
    /*PARA CUANTO ESTÃ ACTIVO background-color: rgba(69, 73, 113, 0.8); */
    transition: all 0.5s;
}
section.skills>div>.contentSkills {
    background-color: #38334A;
    border-radius: 0px 0px 10px 10px;
    padding: 15px 10px;
    min-height: 240px;

    display: flex;
    flex-direction: column;
}
section.skills>div>.contentSkills>p
{
    /* font-size: 20px; */
    font-size: clamp(.8125rem, 2vw, 1.25rem);
    flex: auto;
    color: #fcfbffb5;
    text-align: justify;
}
section.skills>div>.contentSkills>div
{
    gap: 30px;
    justify-content: left;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
} 
section.skills>div>.contentSkills>div>div>img
{
    /* height: 50px; */
    height: clamp(2.5rem, 5vw, 3.125rem);
} 


@media only screen and (max-width: 810px) {
    section.skills>div {
        margin: 0 5px;
        transition: 1s all;
    }
    section.skills>div>.contentSkills>div {
        gap: 30px;
        justify-content: center;
    }
}