/* contact page */
section.contact
{
    display: flex;
    flex-direction: column;

    align-content: center;
    align-items: center;

}
section.contact>.sendMessage
{
    margin-top: 60px;
    background-color: rgba(6, 0, 29, 0.8);
    width: 450px;
    height: fit-content;

    border-radius: 8px;
    display: flex;
    flex-direction: column;

    padding: 0 20px;

    
    
}
section.contact>.sendMessage>p
{
    text-align: center;
    color: #eeffef;
    font-size: 20px;
    letter-spacing: 2px;
}
section.contact>.sendMessage>form
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;

    gap: 5px;
}
/* section.contact>.sendMessage>form input
{
    height: 30px;
    width: 300px;
} */
section.contact>.sendMessage>form p
{
    background-color: red;

}
section.contact>.sendMessage>form textarea
{
    /* width: 300px; */
    width: clamp(12.5rem, 70vw,18.75rem);
    /* height: ; */
    text-align: left;
    padding: 5px;
    margin-bottom: 8px;
    font-size:  clamp( .6875rem, 2vw, .8125rem);
}
section.contact>.sendMessage>form button
{
    height: 30px;
    width: 200px;
}